main {
  max-width: 840px;
}

p {
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

nav a{
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
h1 {
  text-align: center;
  margin: 1rem 0;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 0.5px solid rgb(244 186 161/ 0.1);
  padding: 1rem;
  background-color: #ffe9d7;
  color: #592207;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid rgb(0 0 0 / 0.5);
  text-align: center;
}
