:root {
  --primary-blue: hsl(
    210,
    59.7%,
    25.3%
  ); /* Deep blue for trust and water depth */
  --accent-cyan: hsl(194, 38.3%, 52.9%); /* Vibrant cyan for water energy */
  --nature-green:rgb(117, 113, 60); /* Forest green for nature vibes */
  --nature-white: #d2ccbe; /* Forest green for nature vibes */
  --nature-brown: #a7713f; /* Forest green for nature vibes */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Farsan", serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  background-color: var(--accent-cyan);
}

.hero h1,
.history h2,
.Adventures h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Trade Winds", serif;
  color: white;
}

header {
  background-color: var(--primary-blue);
  color: white;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  row-gap: 1em;
}

.header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 5rem;
}

.header__title h1 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Trade Winds", serif;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

header img {
  width: 160px;
  height: 100px;
}

.header__navbar nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.hero {
  background-image: url("../images/rafting16_1024.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.hero-content {
  background-color: rgba(26, 64, 103, 0.9);
  padding: 0 2rem;
  border-radius: 10px;
  width: 80%;
  height: 60%;
}

.hero h1 {
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
  align-self: center;
}

.hero article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.hero article img {
  width: 400px;
  height: 250px;
  margin-right: 1rem;
  margin-left: 10rem;

  border-radius: 10px;
}

.hero article p {
  font-size: 1.5rem;
  margin-right: 10rem;
  text-align: left;
}

.history {
  background-color: var(--nature-green);
  color: white;
  padding: 2rem;
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.history__content {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.history img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.history__img-container {
  align-items: center;
  justify-content: center;
}

.Adventures {
  background-color: var(--primary-blue);
  color: var(--nature-white);
  padding: 5rem;
  text-align: center;
}

.Adventures__content {
  display: flex;
  flex direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 0 2rem;
  overflow: hidden;
  max-width: 100%;

}

.Adventures h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Adventures img {
  flex: 1 1 100%; 
  min-height: 200px;
  max-height: 300px;
  min-width: 100px;
  max-width: 300px;
}

footer {
  background-color: var(--primary-blue);
  color: white;
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  padding: 2rem;
}

footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


footer nav a span i {
  width: 1.5rem;
  height: 1.5rem;
}
