


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

:root {
  --primary-blue: hsl(210, 59.7%, 25.3%);
  --accent-cyan: hsl(193, 66.80%, 36.70%);
  --nature-green: rgb(0, 0, 78);
  --nature-white:
   #d2ccbe;
  --nature-brown:rgb(102, 59, 19);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Be Vietnam Pro", serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background-color: var(--accent-cyan);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero h1,
.history h2,
.Adventures h2,
.contact-us,
.contact__employees-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Trade Winds", serif;
  color: white;
  align-items: center;
  justify-content: center;
}

header {
  background-color: var(--primary-blue);
  color: white;
  padding: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  align-items: center;
  column-gap: 10px;
  row-gap: 1em;
  width: 100%;
  max-height: 200px;
  box-sizing: border-box;
}

.header__title {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.header__title h1 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Trade Winds", serif;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
  box-sizing: border-box;
}

.header__navbar nav a {
  margin-right: 1rem;
}

header img {
  width: 160px;
  height: 100px;
}

.header__navbar nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.hero {
  background-image: url("../images/rafting16_1024.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.hero-content {
  background-color: rgba(26, 64, 103, 0.9);
  padding: 0 2rem;
  border-radius: 10px;
  width: 80%;
  height: 60%;
}

.hero h1 {
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
}

.hero article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.hero article img {
  width: 400px;
  height: 250px;
  margin: 0 1rem;
  border-radius: 10px;
}

.hero article p {
  font-size: 1.5rem;
  margin-right: 10rem;
  text-align: left;
}

.history {
  background-color: var(--nature-green);
  color: white;
  padding: 2rem;
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.history__content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.history img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.Adventures {
  background-color: var(--primary-blue);
  color: var(--nature-white);
  padding: 5rem;
  text-align: center;
}

.Adventures__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
  overflow: hidden;
  max-width: 100%;
}

.Adventures h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Adventures img {
  flex: 1 1 100%;
  min-height: 200px;
  max-height: 300px;
  min-width: 100px;
  max-width: 300px;
}

footer {
  background-color: var(--primary-blue);
  color: white;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav a img {
  width: 1.5rem;
  height: 1.5rem;
}

/* C O N T A C T   U S   P A G E */

.divider {
  border: none;

  border-top: 2px solid white;
  margin: 30px 0;
  width: 70%;
}

.contact__company-info-section {
  background-color: var(--accent-cyan);
  width: 100%;
  max-width: 100%;
  min-height: 50vh;
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
  justify-items: center;
  padding: 1rem 0rem 1rem 1rem;
  margin: 0rem;
}

.contact__company-info {
  background-color: var(--primary-blue);
  flex: 1 300px; /* Flexible item with a base width */
  height: 300px;
  max-width: 35%;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}

.contact__company-info-map {
  flex: 1 1 300px;
  max-width: 35%; /* Ensure it doesn't exceed parent width */
  height: 300px;
  border-radius: 10px;
  /* Maintain 16:9 aspect ratio */
}

@media (max-width: 768px) {
  .contact__company-info-section {
    flex-direction: column;
    align-items: center;
  }

  .contact__company-info,
  .contact__company-info-map {
    width: 100%;
  }
}

.contact__employees-section {
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 0rem 0rem 1rem 1rem;
  margin: 0rem 0rem;
}

.employee-profiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 0 2rem;
  overflow: hidden;
  max-width: 100%;
}

.employee-profiles img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.employee {
  background-color: var(--primary-blue);
  color: white;
  padding: 1rem;
  border-radius: 10px;

  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

.contact-form {
  background-color: var(--primary-blue);
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
